<app-header></app-header>

<div class="container">
  <app-simple-slider id="simple-slider"></app-simple-slider>
  <app-range-slider id="range-slider"></app-range-slider>
  <app-reactive-form-simple-slider id="reactive-form-simple-slider"></app-reactive-form-simple-slider>
  <app-reactive-form-range-slider id="reactive-form-range-slider"></app-reactive-form-range-slider>
  <app-styled-slider id="styled-slider"></app-styled-slider>
  <app-limited-slider id="limited-slider"></app-limited-slider>
  <app-limited-range-slider id="limited-range-slider"></app-limited-range-slider>
  <app-no-switching-range-slider id="no-switching-range-slider"></app-no-switching-range-slider>
  <app-push-range-slider id="push-range-slider"></app-push-range-slider>
  <app-selection-bar-slider id="selection-bar-slider"></app-selection-bar-slider>
  <app-selection-bar-at-end-slider id="selection-bar-at-end-slider"></app-selection-bar-at-end-slider>
  <app-selection-bar-from-value-slider id="selection-bar-from-value-slider"></app-selection-bar-from-value-slider>
  <app-selection-bar-gradient-slider id="selection-bar-gradient-slider"></app-selection-bar-gradient-slider>
  <app-dynamic-color-selection-bar-slider id="dynamic-color-selection-bar-slider"></app-dynamic-color-selection-bar-slider>
  <app-dynamic-pointer-color-slider id="dynamic-pointer-color-slider"></app-dynamic-pointer-color-slider>
  <app-stepped-slider id="stepped-slider"></app-stepped-slider>
  <app-right-to-left-slider id="right-to-left-slider"></app-right-to-left-slider>
  <app-floating-point-slider id="floating-point-slider"></app-floating-point-slider>
  <app-custom-display-function-slider id="custom-display-function-slider"></app-custom-display-function-slider>
  <app-custom-combine-labels-function-slider id="custom-combine-labels-function-slider"></app-custom-combine-labels-function-slider>
  <app-custom-html-display-function-slider id="custom-html-display-function-slider"></app-custom-html-display-function-slider>
  <app-alphabet-slider id="alphabet-slider"></app-alphabet-slider>
  <app-date-slider id="date-slider"></app-date-slider>
  <app-ticks-slider id="ticks-slider"></app-ticks-slider>
  <app-ticks-values-slider id="ticks-values-slider"></app-ticks-values-slider>
  <app-intermediate-ticks-slider id="intermediate-ticks-slider"></app-intermediate-ticks-slider>
  <app-custom-ticks-slider id="custom-ticks-slider"></app-custom-ticks-slider>
  <app-custom-ticks-legend-slider id="custom-ticks-legend-slider"></app-custom-ticks-legend-slider>
  <app-custom-legend-function-slider id="custom-legend-function-slider"></app-custom-legend-function-slider>
  <app-ticks-tooltips-slider id="ticks-tooltips-slider"></app-ticks-tooltips-slider>
  <app-ticks-custom-tooltips-slider id="ticks-custom-tooltips-slider"></app-ticks-custom-tooltips-slider>
  <app-ticks-values-tooltips-slider id="ticks-values-tooltips-slider"></app-ticks-values-tooltips-slider>
  <app-ticks-values-range-slider id="ticks-values-range-slider"></app-ticks-values-range-slider>
  <app-intermediate-ticks-values-range-slider id="intermediate-ticks-values-range-slider"></app-intermediate-ticks-values-range-slider>
  <app-dynamic-tick-color-slider id="dynamic-tick-color-slider"></app-dynamic-tick-color-slider>
  <app-log-scale-slider id="log-scale-slider"></app-log-scale-slider>
  <app-custom-scale-slider id="custom-scale-slider"></app-custom-scale-slider>
  <app-draggable-range-slider id="draggable-range-slider"></app-draggable-range-slider>
  <app-draggable-range-only-slider id="draggable-range-only-slider"></app-draggable-range-only-slider>
  <app-disabled-slider id="disabled-slider"></app-disabled-slider>
  <app-read-only-slider id="read-only-slider"></app-read-only-slider>
  <app-vertical-sliders id="vertical-sliders"></app-vertical-sliders>
  <app-user-events-slider id="user-events-slider"></app-user-events-slider>
  <app-manual-refresh-slider id="manual-refresh-slider"></app-manual-refresh-slider>
</div>
