<div class="container">
  <app-simple-slider></app-simple-slider>
  <app-range-slider></app-range-slider>
  <app-reactive-form-simple-slider></app-reactive-form-simple-slider>
  <app-reactive-form-range-slider></app-reactive-form-range-slider>
  <app-styled-slider></app-styled-slider>
  <app-dynamic-options-slider></app-dynamic-options-slider>
  <app-dynamically-created-sliders></app-dynamically-created-sliders>
  <app-limited-slider></app-limited-slider>
  <app-limited-range-slider></app-limited-range-slider>
  <app-no-switching-range-slider></app-no-switching-range-slider>
  <app-push-range-slider></app-push-range-slider>
  <app-selection-bar-slider></app-selection-bar-slider>
  <app-selection-bar-at-end-slider></app-selection-bar-at-end-slider>
  <app-selection-bar-from-value-slider></app-selection-bar-from-value-slider>
  <app-selection-bar-gradient-slider></app-selection-bar-gradient-slider>
  <app-dynamic-color-selection-bar-slider></app-dynamic-color-selection-bar-slider>
  <app-dynamic-pointer-color-slider></app-dynamic-pointer-color-slider>
  <app-stepped-slider></app-stepped-slider>
  <app-right-to-left-slider></app-right-to-left-slider>
  <app-floating-point-slider></app-floating-point-slider>
  <app-custom-display-function-slider></app-custom-display-function-slider>
  <app-custom-combine-labels-function-slider></app-custom-combine-labels-function-slider>
  <app-custom-html-display-function-slider></app-custom-html-display-function-slider>
  <app-alphabet-slider></app-alphabet-slider>
  <app-date-slider></app-date-slider>
  <app-ticks-slider></app-ticks-slider>
  <app-ticks-values-slider></app-ticks-values-slider>
  <app-intermediate-ticks-slider></app-intermediate-ticks-slider>
  <app-custom-ticks-slider></app-custom-ticks-slider>
  <app-custom-ticks-legend-slider></app-custom-ticks-legend-slider>
  <app-custom-legend-function-slider></app-custom-legend-function-slider>
  <app-ticks-tooltips-slider></app-ticks-tooltips-slider>
  <app-ticks-custom-tooltips-slider></app-ticks-custom-tooltips-slider>
  <app-ticks-values-tooltips-slider></app-ticks-values-tooltips-slider>
  <app-ticks-values-range-slider></app-ticks-values-range-slider>
  <app-intermediate-ticks-values-range-slider></app-intermediate-ticks-values-range-slider>
  <app-dynamic-tick-color-slider></app-dynamic-tick-color-slider>
  <app-log-scale-slider></app-log-scale-slider>
  <app-custom-scale-slider></app-custom-scale-slider>
  <app-draggable-range-slider></app-draggable-range-slider>
  <app-draggable-range-only-slider></app-draggable-range-only-slider>
  <app-disabled-slider></app-disabled-slider>
  <app-read-only-slider></app-read-only-slider>
  <app-vertical-sliders></app-vertical-sliders>
  <app-user-events-slider></app-user-events-slider>
  <app-manual-refresh-slider></app-manual-refresh-slider>
  <app-trigger-focus-slider></app-trigger-focus-slider>
  <app-disabled-normalisation-slider></app-disabled-normalisation-slider>
</div>
