.docs-iframe-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.docs-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}