<div class="container pb-5">
  <div class="row">
    <div class="col-12 mb-5 mb-lg-3 col-lg-6 px-1 px-md-2 px-lg-4 text-center">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">Single slider</h2>
        </div>

        <div class="card-body">
          <p class="lead">Need a slider for a single value?</p>

          <div class="mx-auto horizontal-slider-container">
            <ngx-slider [(value)]="simpleSliderValue" [options]="simpleSliderOptions"></ngx-slider>
          </div>

          <div class="mt-4">
            <div class="row">
              <div class="col-md-5 offset-md-1 px-md-1">
                <a [routerLink]="['/demos']" fragment="simple-slider" class="btn btn-primary w-100" aria-label="Go to 'Need a slider for a single value?' Demo">Go to Demo</a>
              </div>

              <div class="col-md-5 px-md-1 mt-2 mt-md-0">
                <a target="_blank" href="https://stackblitz.com/edit/ngx-slider-simple-slider-example?file=src%2Fapp%2Fapp.component.ts" class="btn btn-info w-100" aria-label="See 'Need a slider for a single value?' on StackBlitz">See on StackBlitz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-5 mb-lg-3 col-lg-6 px-1 px-md-2 px-lg-4 text-center">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">Range slider</h2>
        </div>

        <div class="card-body">
          <p class="lead">Or a range of values?</p>

          <div class="mx-auto horizontal-slider-container">
            <ngx-slider [(value)]="rangeSliderLowValue" [(highValue)]="rangeSliderHighValue" [options]="rangeSliderOptions"></ngx-slider>
          </div>

          <div class="mt-4">
            <div class="row">
              <div class="col-md-5 offset-md-1 px-md-1">
                <a [routerLink]="['/demos']" fragment="range-slider" class="btn btn-primary w-100" aria-label="Go to 'Range slider' Demo">Go to Demo</a>
              </div>

              <div class="col-md-5 px-md-1 mt-2 mt-md-0">
                <a target="_blank" href="https://stackblitz.com/edit/ngx-slider-range-slider-example?file=src%2Fapp%2Fapp.component.ts" class="btn btn-info w-100" aria-label="See 'Range slider' on StackBlitz">See on StackBlitz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-5 mb-lg-3 col-lg-6 px-1 px-md-2 px-lg-4 text-center">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">Ticks</h2>
        </div>

        <div class="card-body">
          <p class="lead">Add ticks as necessary</p>

          <div class="mx-auto horizontal-slider-container">
            <ngx-slider [(value)]="ticksSliderValue" [options]="ticksSliderOptions"></ngx-slider>
          </div>

          <div class="mt-4">
            <div class="row">
              <div class="col-md-5 offset-md-1 px-md-1">
                <a [routerLink]="['/demos']" fragment="ticks-values-slider" class="btn btn-primary w-100" aria-label="Go to 'Add ticks as necessary' Demo">Go to Demo</a>
              </div>

              <div class="col-md-5 px-md-1 mt-2 mt-md-0">
                <a target="_blank" href="https://stackblitz.com/edit/ngx-slider-ticks-example?file=src%2Fapp%2Fapp.component.ts" class="btn btn-info w-100" aria-label="See 'Add ticks as necessary' on StackBlitz">See on StackBlitz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-5 mb-lg-3 col-lg-6 px-1 px-md-2 px-lg-4 text-center">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">Customisable</h2>
        </div>

        <div class="card-body">
          <p class="lead">Customise for your use case</p>

          <div class="mx-auto horizontal-slider-container">
            <ngx-slider [(value)]="customisedSliderLowValue" [(highValue)]="customisedSliderHighValue" [options]="customisedSliderOptions"></ngx-slider>
          </div>

          <div class="mt-4">
            <div class="row">
              <div class="col-md-5 offset-md-1 px-md-1">
                <a [routerLink]="['/demos']" fragment="custom-html-display-function-slider" class="btn btn-primary w-100" aria-label="Go to 'Customise for your use case' Demo">Go to Demo</a>
              </div>

              <div class="col-md-5 px-md-1 mt-2 mt-md-0">
                <a target="_blank" href="https://stackblitz.com/edit/ngx-slider-customised-range-slider-example?file=src%2Fapp%2Fapp.component.ts" class="btn btn-info w-100" aria-label="See 'Customise for your use case' on StackBlitz">See on StackBlitz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-5 mb-lg-3 col-lg-6 px-1 px-md-2 px-lg-4 text-center">
      <div class="card h-100">
        <div class="card-header">
          <h2 class="display-5">Stylable</h2>
        </div>

        <div class="card-body">
          <p class="lead">Style it just as you like it</p>

          <div class="mx-auto horizontal-slider-container">
            <ngx-slider class="styled-slider" [(value)]="styledSliderLowValue" [(highValue)]="styledSliderHighValue" [options]="styledSliderOptions"></ngx-slider>
          </div>

          <div class="mt-4">
            <div class="row">
              <div class="col-md-5 offset-md-1 px-md-1">
                <a [routerLink]="['/demos']" fragment="styled-slider" class="btn btn-primary w-100" aria-label="Go to 'Style it just as you like it' Demo">Go to Demo</a>
              </div>

              <div class="col-md-5 px-md-1 mt-2 mt-md-0">
                <a target="_blank" href="https://stackblitz.com/edit/ngx-slider-styled-slider-example?file=src%2Fapp%2Fapp.component.ts" class="btn btn-info w-100" aria-label="See 'Style it just as you like it' on StackBlitz">See on StackBlitz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-5 mb-lg-3 col-lg-6 px-1 px-md-2 px-lg-4 text-center">
      <div class="card h-100">
        <div class="card-header">
          <h2 class="display-5">Vertical</h2>
        </div>

        <div class="card-body">
          <p class="lead">It can be vertical, too!</p>

          <div class="text-left vertical-slider-container">
            <ngx-slider [(value)]="verticalSliderValue" [options]="verticalSliderOptions"></ngx-slider>
          </div>

          <div class="mt-4">
            <div class="row">
              <div class="col-md-5 offset-md-1 px-md-1">
                <a [routerLink]="['/demos']" fragment="vertical-sliders" class="btn btn-primary w-100" aria-label="Go to 'It can be vertical, too!' Demo">Go to Demo</a>
              </div>

              <div class="col-md-5 px-md-1 mt-2 mt-md-0">
                <a target="_blank" href="https://stackblitz.com/edit/ngx-slider-vertical-slider-example?file=src%2Fapp%2Fapp.component.ts" class="btn btn-info w-100" aria-label="See 'It can be vertical, too!' on StackBlitz">See on StackBlitz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-5 mb-lg-3 px-1 px-md-2 px-lg-4 text-center">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">And more!</h2>
        </div>

        <div class="card-body">
          <p class="lead">Many more options and customisations are available</p>

          <p>
            See <a routerLink="/demos" aria-label="See other examples">other examples</a> or jump straight to <a routerLink="/api" aria-label="Jump straight to the API documentation">API documentation</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
