.horizontal-slider-container {
  width: 80%;
}

.inline-with-vertical-slider-container {
  height: auto;
}

@media(min-width: 992px) {
  .inline-with-vertical-slider-container {
    height: 10rem;
  }
}

.vertical-slider-container {
  margin-left: calc(50% - 2rem);
  height: 10rem;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .styled-slider.ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .styled-slider.ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .styled-slider.ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .styled-slider.ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .styled-slider.ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .styled-slider.ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .styled-slider.ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .styled-slider.ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }
}