body {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
}

/* Override font in test mode to always ensure deterministic results no matter what fonts are installed */
.test-mode {
  font-family: "Helvetica" !important;

  /* Disable animations, too */
  .ngx-slider {
    * {
      transition: none !important;
    }
  }
}

// override bootstrap classes for accessibility
a {
  // used https://pinetools.com/darken-color
  // to make #007bff darker: #003d7f
  color: #003d7f;
}

.btn-info {
  // #17a2b8 > #0b515c
  background-color: #0b515c;
  color: white;
}

.btn-primary {
  // #007bff > #003d7f
  background-color: #003d7f;
}
