<div class="docs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{> header}}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-7">
                <div class="tsd-main">
                    {{#if model.readme}}
                        <div class="tsd-panel tsd-typography">
                                {{#markdown}}{{{model.readme}}}{{/markdown}}
                        </div>
                    {{/if}}

                    {{{contents}}}
                </div>
            </div>

            <div class="d-none d-md-block col-5">
                <nav class="tsd-navigation primary">
                    <ul>
                        {{#each navigation.children}}
                            {{> navigation}}
                        {{/each}}
                    </ul>
                </nav>

                <nav class="tsd-navigation secondary">
                    <ul>
                        {{#each toc.children}}
                            {{> toc}}
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{> footer}}
            </div>
        </div>
    </div>
</div>