<div style="text-align:center">
  <h1>
    Welcome to Angular 2 slider demo!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<h2>Simple slider</h2>
Value: <input type="text" [(ngModel)]="simpleSlider.value">
<ng2-slider [(value)]="simpleSlider.value" [options]="simpleSlider.options"></ng2-slider>


<h2>Range slider</h2>
Min value: <input type="text" [(ngModel)]="rangeSlider.minValue">
Min value: <input type="text" [(ngModel)]="rangeSlider.maxValue">
<ng2-slider [(value)]="rangeSlider.minValue" [(highValue)]="rangeSlider.maxValue" [options]="rangeSlider.options"></ng2-slider>


<h2>Slider with custom style</h2>
<div class="custom-slider">
  <ng2-slider [(value)]="styledSlider.minValue" [(highValue)]="styledSlider.maxValue" [options]="styledSlider.options"></ng2-slider>
</div>


<h2>Slider with min limit set to 10 and max limit set to 90</h2>
<ng2-slider [(value)]="minMaxLimitSlider.value" [options]="minMaxLimitSlider.options"></ng2-slider>


<h2>Range slider with a minimal range set to 10 and maximum of 50</h2>
<ng2-slider [(value)]="minMaxRangeSlider.minValue" [(highValue)]="minMaxRangeSlider.maxValue" [options]="minMaxRangeSlider.options"></ng2-slider>


<h2>Range slider with noSwitching=true</h2>
<ng2-slider [(value)]="noSwitchingRangeSlider.minValue" [(highValue)]="noSwitchingRangeSlider.maxValue" [options]="noSwitchingRangeSlider.options"></ng2-slider>


<h2>Range slider with minimum range of 10, maximum of 30 and pushRange option</h2>
<ng2-slider [(value)]="minMaxAndPushRangeSlider.minValue" [(highValue)]="minMaxAndPushRangeSlider.maxValue" [options]="minMaxAndPushRangeSlider.options"></ng2-slider>


<h2>Slider with visible selection bar</h2>
<ng2-slider [(value)]="selectionBarSlider.value" [options]="selectionBarSlider.options"></ng2-slider>


<h2>Slider with visible selection bar at the end</h2>
<ng2-slider [(value)]="selectionBarAtEndSlider.value" [options]="selectionBarAtEndSlider.options"></ng2-slider>


<h2>Slider with selection bar gradient</h2>
<ng2-slider [(value)]="selectionBarWithGradientSlider.minValue" [(highValue)]="selectionBarWithGradientSlider.maxValue" [options]="selectionBarWithGradientSlider.options"></ng2-slider>


<h2>Slider with dynamic selection bar color</h2>
<ng2-slider [(value)]="selectionBarWithDynamicColorSlider.value" [options]="selectionBarWithDynamicColorSlider.options"></ng2-slider>


<h2>Slider with dynamic pointer color</h2>
<ng2-slider [(value)]="dynamicPointerColorSlider.value" [options]="dynamicPointerColorSlider.options"></ng2-slider>


<h2>Slider with custom floor/ceil/step</h2>
<ng2-slider [(value)]="floorCeilStepSlider.value" [options]="floorCeilStepSlider.options"></ng2-slider>


<h2>Right to left slider</h2>
<ng2-slider [(value)]="rtlSlider.value" [options]="rtlSlider.options"></ng2-slider>


<h2>Slider with floating values</h2>
<ng2-slider [(value)]="floatSlider.value" [options]="floatSlider.options"></ng2-slider>


<h2>Slider with custom display function</h2>
<ng2-slider [(value)]="customDisplayFunctionSlider.minValue" [(highValue)]="customDisplayFunctionSlider.maxValue" [options]="customDisplayFunctionSlider.options"></ng2-slider>


<h2>Slider with custom display function using HTML formatting</h2>
<ng2-slider [(value)]="customDisplayFunctionHtmlSlider.minValue" [(highValue)]="customDisplayFunctionHtmlSlider.maxValue" [options]="customDisplayFunctionHtmlSlider.options"></ng2-slider>


<h2>Slider with alphabet</h2>
Current letter: {{this.indexToLetter(alphabetSlider.value)}}
<ng2-slider [(value)]="alphabetSlider.value" [options]="alphabetSlider.options"></ng2-slider>


<h2>Slider with dates</h2>
<ng2-slider [(value)]="dateSlider.value" [options]="dateSlider.options"></ng2-slider>


<h2>Slider with ticks</h2>
<ng2-slider [(value)]="ticksSlider.value" [options]="ticksSlider.options"></ng2-slider>


<h2>Slider with ticks at intermediate values</h2>
<ng2-slider [(value)]="intermediateTicksSlider.value" [options]="intermediateTicksSlider.options"></ng2-slider>


<h2>Slider with ticks at specific positions</h2>
<ng2-slider [(value)]="ticksArraySlider.value" [options]="ticksArraySlider.options"></ng2-slider>


<h2>Slider with ticks values and legend</h2>
<!-- Margin because the last legend label otherwise sticks out to the right
     TODO: should be fixed? -->
<div style="margin-left: 2em; margin-right: 2em;">
  <ng2-slider [(value)]="ticksLegedSlider.value" [options]="ticksLegedSlider.options"></ng2-slider>
</div>


<h2>Slider with ticks and tooltips</h2>
<ng2-slider [(value)]="ticksAndTooltipsSlider.value" [options]="ticksAndTooltipsSlider.options"></ng2-slider>


<h2>Slider with ticks and values (and tooltips)</h2>
<ng2-slider [(value)]="ticksValuesAndTooltipsSlider.value" [options]="ticksValuesAndTooltipsSlider.options"></ng2-slider>


<h2>Range slider with ticks and values</h2>
<ng2-slider [(value)]="rangeTicksValuesSlider.minValue" [(highValue)]="rangeTicksValuesSlider.maxValue" [options]="rangeTicksValuesSlider.options"></ng2-slider>


<h2>Range slider with ticks and values at intermediate positions</h2>
<ng2-slider [(value)]="rangeIntermediateTicksSlider.minValue" [(highValue)]="rangeIntermediateTicksSlider.maxValue" [options]="rangeIntermediateTicksSlider.options"></ng2-slider>


<h2>Slider with dynamic tick color</h2>
<ng2-slider [(value)]="dynamicTickColorSlider.value" [options]="dynamicTickColorSlider.options"></ng2-slider>


<h2>Slider with logarithmic scale</h2>
<ng2-slider [(value)]="logScaleSlider.value" [options]="logScaleSlider.options"></ng2-slider>


<h2>Slider with custom scale</h2>
<ng2-slider [(value)]="customScaleSlider.value" [options]="customScaleSlider.options"></ng2-slider>


<h2>Slider with draggable range</h2>
<ng2-slider [(value)]="draggableRangeSlider.minValue" [(highValue)]="draggableRangeSlider.maxValue" [options]="draggableRangeSlider.options"></ng2-slider>


<h2>Slider with draggable range only</h2>
<ng2-slider [(value)]="draggableRangeOnlySlider.minValue" [(highValue)]="draggableRangeOnlySlider.maxValue" [options]="draggableRangeOnlySlider.options"></ng2-slider>