{
  "keysToCopyFromMainPackageJson": [
    "name",
    "version",
    "description",
    "keywords",
    "author",
    "license",
    "repository",
    "bugs",
    "homepage"
  ],
  "dependenciesToCopyFromMainPackageJson": [
    "detect-passive-events",
    "rxjs",
    "rxjs-compat"
  ],
  "dependenciesToCopyAsPeerDependenciesFromMainPackageJson": [
    "@angular/core",
    "@angular/common",
    "@angular/forms"
  ]
}
